<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SilkRoad">
        <activity
            android:name=".ReportesDeReservasActivity"
            android:exported="false" />
        <activity
            android:name=".VerLogActivity"
            android:exported="false" />
        <activity
            android:name=".AdministrarClienteActivity"
            android:exported="false" />
        <activity
            android:name=".LogsActivity"
            android:exported="false" />
        <activity
            android:name=".ClientesActivity"
            android:exported="false" />
        <activity
            android:name=".AdministrarGuiaActivity"
            android:exported="false" />
        <activity
            android:name=".SolicitudesDeGuiasActivity"
            android:exported="false" />
        <activity
            android:name=".GuiasActivity"
            android:exported="false" />
        <activity
            android:name=".ReportesActivity"
            android:exported="false" />
        <activity
            android:name=".EditarAdministradorActivity"
            android:exported="false" />
        <activity
            android:name=".NuevoAdministradorActivity"
            android:exported="false" />
        <activity
            android:name=".AdministradoresActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>